##########################################################
#                                                        #
#             Gitignore for Shipping Containers          #
#                                                        #
#                                                        #
#                                                        #
##########################################################

########################################
#                                      #
#          Root of file path           #
#                                      #
########################################

# Include the root of the project file
!/

# Exclude everything inside of project
/*

!/flask_project

!/mysql
!/nginx



########################################
#                                      #
#                 Misc.                #
#                                      #
########################################

# Files for server setup
!Containerfile
!gunicorn.conf.py
!deploy.yml
!run.sh

# Requirements files
!requirements.in
!requirements.txt

# Other
**/__pycache__
!README.md
!.gitignore
